button {
  border-radius: 20px;
  border: none;
  background-color: rgb(75, 134, 136);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  margin: 8px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

button:hover {
  transition: transform 0.4s;
  /* transform:scale(20% 20%); */
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border: 1px solid #ffffff;
}

button.danger {
  background-color: rgb(201, 69, 69);
}
